* {

    margin: 0;

    padding: 0;

    box-sizing: border-box;

}





body {

    background-image: url('fondo.jpg');

    background-size: cover;

    background-position: center;

    background-repeat: no-repeat;

    background-attachment: fixed;

   

    font-family: 'Instrument Serif', serif;

    color: #4e3e46;

    min-height: 100vh;

    display: flex;

    justify-content: center;

    align-items: center;

    padding: 20px;

}





.tarjeta {

    background-color: #ffecf6; 

    width: 100%;

    max-width: 400px;

    padding: 30px 25px;

    border-radius: 28px; 

    border: none;



    box-shadow: 10px 10px 0px #802850,

                10px 10px 20px rgba(0, 0, 0, 0.15);

   

    text-align: center;

}




.nombre {

    font-size: 1.8rem;

    font-weight: 700;

    color: #802850;

    margin-bottom: 20px;

}




.contenedor-imagen {

    margin-bottom: 15px;

}



.imagen-perfil {

    width: 270px;

    height: auto;

    object-fit: contain;

    transition: transform 0.3s ease;

}



.imagen-perfil:hover {

    transform: scale(1.05) rotate(-2deg);

}


.seccion-info, .seccion-perfil {

    text-align: left;

    margin-bottom: 20px;

}



.seccion-info h2, .seccion-perfil h2 {

    font-size: 1.1rem;

    font-weight: 600;

    color: #802850;

    margin-bottom: 8px;

}



.lista-info {
    list-style: none;
    padding-left: 0;
}

.lista-info li {
    font-size: 1.05rem;
    line-height: 1.3;
    color: #802850;
    margin-bottom: 6px;
    position: relative;
    padding-left: 26px; 
    display: flex;
    align-items: center;
}


.lista-info li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    
    width: 18px; 
    height: 18px;
    
    background-image: url('flor.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}




.boton-github {

    display: inline-block;

    width: 100%;

    text-align: center;

    padding: 12px 15px;

    background-color: #80deea; 

    color: #004d40; 

    text-decoration: none;

    border-radius: 16px;

    font-weight: 700;

    font-size: 0.95rem;

   


    box-shadow: 4px 4px 0px #00acc1;

   

    transition: all 0.2s ease;

}





.boton-github:hover {

    background-color: #4dd0e1;

    transform: translate(2px, 2px);

    box-shadow: 2px 2px 0px #00acc1;

}

